*{
    margin: 0;
    padding: 0;
}
ul li a{
    list-style: none;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: overline;
    color: blue;
}
.header-top{
    display: flex;
}
.items